/* SERVICES */

.serviceslist{
    text-decoration: none;
    list-style: circle;
    font-weight: bold;
    line-height: 1cm;
    font-size: 14pt;
    margin: 0;
}

.warning article p, .warning article h2 {
    font-weight: bold;
    color: rgb(173, 0, 35);
    font-weight: bold ; 
    margin-bottom: 0;
    font-size: 16pt;
}

section.added{
    font-weight: bold;
    color: rgb(72, 103, 5);
}
