
/* FORM */

label {
    font-weight: bold;
    margin: 2rem 0.5rem 2rem 0.5rem;
    font-size: 21px;
}

input{
    background-color: antiquewhite;
    width: 20rem;
    height: 2rem;
    margin: 2rem 0.5rem 2rem 0.5rem;
    border: solid;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

textarea{
    background-color: rgb(250, 235, 215);
    border: solid;
    border-color: rgb(0, 0, 0);
    margin: 2rem 0.5rem 0rem 0.5rem;
    color: rgb(0, 0, 0);
    font-weight: bold;

}


:placeholder-shown {
    font-weight: 500;
    text-align: left;
    color: rgb(0, 0, 0);
}

.selector {
    height: 1rem;
    width: 2rem;
    cursor: pointer;
}

#send {
    background-color: rgb(8, 224, 80);
    width: 7rem;
    height: 3.5rem;
    border: solid;
    border-color: rgb(0, 0, 0);
    margin: 4rem 20rem 2rem 0.5rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    font-size: 21px;
    padding: 1px 0.75px 0px 0px;
}

#reset {
    background-color: rgb(224, 55, 8);
    width: 7rem;
    height: 3.5rem;
    border: solid;
    border-color: rgb(0, 0, 0);
    margin: 2rem 0.5rem 2rem 0.5rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    font-size: 21px;
    padding: 1px 0.75px 0px 0px;
}


