
/* FORM */

label {
    font-weight: bold;
    margin-left: 5px;
    margin-right: 8px;
    margin-top: 1cm;
    margin-bottom: 1cm;
    font-size: 16pt;
}

input{
    background-color: antiquewhite;
    width: 8cm;
    height: 1cm;
    border: solid;
    border-color: black;
    margin-left: 5px;
    margin-right: 8px;
    color: black;
    font-weight: bold;
    margin-top: 1cm;
    margin-bottom: 1cm;
}

textarea{
    background-color: antiquewhite;
    border: solid;
    border-color: black;
    margin-left: 8px;
    margin-right: 8px;
    color: black;
    font-weight: bold;
    margin-top: 1cm;
    margin-bottom: 0;
}


:placeholder-shown {
    font-weight: 500;
    text-align: left;
    color: black;
}

.selector {
    height: 15px;
    width: 30px;
    cursor: pointer;
}

#send {
    background-color: rgb(8, 224, 80);
    width: 3cm;
    height: 1.5cm;
    border: solid;
    border-color: black;
    margin-left: 5px;
    margin-right: 128px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin-top: 2cm;
    cursor: pointer;
    font-size: 16pt;
    padding: 1px 0.75px 0px 0px;
}

#reset {
    background-color: rgb(224, 80, 8);
    width: 3cm;
    height: 1.5cm;
    border: solid;
    border-color: black;
    margin-left: 5px;
    margin-right: 8px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin-top: 2cm;
    cursor: pointer;
    font-size: 16pt;
    padding-right: 4px;
}
