
/* PICTURE */

.picture {
    margin-right: 0cm;
    margin-left: 3cm;
    margin-top: 0.5cm;
    margin-bottom: 1cm;
    width: 35vw;
    height: 60vh;
    border: solid;
    border-color: black;
    border-width: 4px;   
}