@media (min-width: 0px) and (max-width: 768px) {
    /* PÁGINA PRINCIPAL */

    ul.navlist{
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        margin: 0;
        align-items: center;
        padding: 0
    }

    .logo {
        border-radius: 10%;
        width: 8rem;
        height: 4rem;
        margin: 0;
    }

    i {
        font-size: 1.25rem;
        margin-right: 0.1rem;
    }

    h2.faculty-glyphic-regular {
         font-size: 1.5rem;
         text-align: center;
     }
    
    h3.faculty-glyphic-regular {
         font-size: 1.45rem;
     }
    
    h4.faculty-glyphic-regular {
        font-size: 1.3rem;
    }
    
    p.faculty-glyphic-regular {
         font-size: 1.2rem;
         margin-bottom: 1rem;
    
    }

    .main-picture {
        border-radius: 5%;
        width: 90vw;
        height: 36vh;
    }

    footer div p {
     display: flex;
     flex-direction: column;
     }

    .media{
        border: solid rgb(0, 0, 0) 1px;
        margin: 1rem 0.5rem 1rem 0.5rem;
        cursor: pointer;
    }

    /* SERVICIOS TURÍSTICOS Y UBICACIÓN */

    .embed-map {
    border-radius: 5%;
    height: 32rem;
    width: 48rem;
    margin-bottom: 1rem;
}


    /* GALERÍA */

    .picture {
    border-radius: 5%;
    width: 90vw;
    height: 36vh;
    margin: 0 0 0.25rem 0 ;
}

 /* CONTACTO Y DUDAS */

label.faculty-glyphic-regular, h4.faculty-glyphic-regular{
    margin: 0 0.5rem 0 0.5rem;
    font-size: 1.25rem;
  
}

.warning {
    font-size: 1.05rem;
    text-align: center;
}

input{
    display: block;
    align-self: center;
    margin: 0.25rem auto 0.25rem auto;
}

div.formgroup select, option{
    width: 21rem;
    margin: 0.25rem auto 0.25rem auto;
    display: block;
    align-self: center;    
}

.areacontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}

div.areacontainer label{
    margin-top: 2rem;
    text-align: left;
}

.buttoncontainer{
    display: flex;
    gap: 12rem;
    margin: 1rem 0 1rem 0.5rem;
    
}

#send {
    width: 3.5rem;
    height: 3rem;
    font-size: 0.75rem;
    vertical-align: middle;
}

#reset {
    width: 3.5rem;
    height: 3rem;
    font-size: 0.75rem;
    vertical-align: middle;
    padding: 1px 2px 2px 0px;
}


}