@media (min-width: 768px) and (max-width: 1024px) {
    /* PÁGINA PRINCIPAL */

    ul.navlist {
        gap: 0.5rem;
        justify-content: center;
        align-items: flex-start;
    }

    .main-picture {
        border-radius: 7.5%;
        width: 90vw;
        height: 45vh;
    }

    /* GALERÍA */

    .picture {
    border-radius: 7.5%;
    width: 44vw;
    height: 44vh;
    margin: auto;
    }

}